.App {
  text-align: center;

}
.vizhener-encryption {
  border: 1px solid #eee;
  border-radius: 15px;
  margin: 20px;

}

.vizhener-decryption {
  border: 1px solid #eee;
  border-radius: 15px;
  margin: 20px;

}

.field{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
  width: 550px;
  margin: 0 auto;
}

button{
  height:23px;
  align-items: center;
  margin-left: 20px;
  margin-top: 56px;
}

span{
  margin-left: 20px;
}
